

body {
margin:.5em;
padding:0;
height:100%;
background-color:#B1C982;
font-family: trebuchet ms, verdana, arial, tahoma;
	font-size: 90%;
	color: #111;
/*font-size:.9em;*/
background-image:url(bg.jpg);

}

a {
color:#cc0000;/*#596541;*/
text-decoration:none;
}

a:hover {
color:#cccccc;
text-decoration:none;
}

blockquote {
margin:1em;
padding:.5em;
background-color:#D9E5C1;
border-top:1px solid #cccccc;
border-bottom:1px solid #cccccc;

background-repeat:no-repeat;
background-position: 5px 50%;
}

#shelf {
}

blockquote p {
margin-left:2.3em;
}

#centerColumn { 	
margin:0 auto;
padding:1em;
width:38em;
text-align:left;
vertical-align: middle;	
background-color:#EBF1E0;
/* Developed by Anunzio International */
border:1px solid #cccccc;
}

#centerColumn h2 {
margin:0 0 -.5em 0;
padding:.75em 0 0 0;
font-size:1em;
letter-spacing:.1em;
}

#header {
margin:0 0 0 0;
padding:0 0 0 0;
height:10em;
/*background-color:#C5D7A2;*/
/*border:1px solid #cccccc;*/
background-image:url(header.jpg);
}

#header h1 {
margin:0 0 -.6em 0;
padding:1em 0 0 1em;
font-size:1.5em;
letter-spacing:.1em;
color:#ffffff;

}

#header h2 {
margin:0 0 0 0;
padding:1em 0 0 1.75em;
font-size:.9em;
font-weight:300;
letter-spacing:.1em;

}
#navbar {
  margin-top:25px;
  border-bottom:thin dotted #000000;
  border-top:thin dotted #000000;
  font-size:85%;
  color:#888;
  text-transform:lowercase;
}
#fauxRightColumn {
position:relative;
float:right;
margin:.5em 0 0 .5em;
padding:0 .7em 0 .7em;
width:11em;
/* Developed by Anunzio International */
font-size:.9em;
background-color:#D9E5C1;
/*border:1px solid #cccccc;*/
}

#fauxRightColumn h2 {
margin-bottom:-1em;
font-size:.9em;
}

#header ul {
/*margin:1.5em 0 0 0;*/
list-style:none;
font-size:1.1em;
}

#header li {
/*margin:0 0 .2em -3em;*/
}
#header p {
  margin-top:85px;
}
#header  a {
padding-top:5px;
padding-left:10px;
padding-right:10px;
padding-bottom:5px;
background-color:#B1C982;
border-left:4px solid #000000;
text-decoration:none;
color:#000000;
}

#header  a:hover{
padding-top:5px;
padding-left:10px;
padding-right:10px;
padding-bottom:5px;
background-color:#859762;
border-left:5px solid #B1C982;
text-decoration:none;
color:#000000;
}

#footer {
position:relative;
bottom:0;
margin:5em 0 0 0;
padding:0;
height:4em;
/* Developed by Anunzio International */
line-height:4em;
text-align:center;
font-size:.7em;
background-color:#D9E5C1;
border-top:1px solid #cccccc;
}

.news {
  padding-bottom:1em;
  /*border-bottom:thin dashed #000;*/
}